@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="text"],
  select {
    @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm;
  }
}

@layer components {
  .aspect-w-2 {
    position: relative;
    padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  }
  
  .aspect-h-3 {
    --tw-aspect-h: 3;
  }
  
  .aspect-w-2 {
    --tw-aspect-w: 2;
  }
  
  .aspect-w-2 > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
